#upload {
  <!--  margin: 0px 25px;-->
    margin-bottom: 25px;
}

#blankcoin {
   <!-- margin: 0px 25px; -->
}
#onefith{
 
<!--    background-color: #FFFFF5; -->
        font-family: "Helvetica";

}
a{text-decoration:none;     color: #ccc;
}


    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }
.home-menu {
    background: #2d3e50;
}

.home-menu {
    padding: 0.4em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #31383E;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    float: left;
    text-align: left;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #FFFFFF;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

.breadcrumb>li {
    display: inline-block
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}

.breadcrumb>active {
    color: #777;
}
.header{
    text-align:left;
}
