#goldtitle{
    
    font-size: 90%;
    margin-top: -20px;
    
}

#body{
    
    background-color: #FFFFF5;
    
}

#spotnum1{
    margin-top: -20px;
}

#spotnum2{
    margin-top: -20px;
}

#spotnum3{
    margin-top: -20px;
}

#stacktable{
  
    width: 100%;
    
}

#b1{
 width:70px;   
}
#b2{
 width:70px;   
}
#b3{
 width:70px;   
}